
@font-face {
    font-family: 'bring_heartregular';
    src: url('../font/bringheart-regular-webfont.woff2') format('woff2'),
         url('../font/bringheart-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.logo {
    font-family: 'bring_heartregular';
    font-size: 4em!important;
}